<ul class='side-nav fixed'>
  <div class='center-align container'>
    <img id='sidebar-logo' class='brand-logo' src='<%= image_path('carrot.png') %>'>
  </div>

  <li class='bold'>
    <%= link_to 'Home', dashboard_path, class: 'waves-effect' %>
  </li>

  <li class='bold'>
    <%= link_to 'Pantry', pantry_path, class: 'waves-effect' %>
  </li>
</ul>
